body {
    background: #282;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;
}

#co2 {
    font-size: 500%;
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:visited {
    color: black;
}
