html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #6698FF, #82CAFF);
    height: 100%;
    margin: 0;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;
}

#co2 {
    font-size: 8em;
    font-family: monospace;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:visited {
    color: black;
}

p.details {
    font-size: smaller;
}
